// custom.scss

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$body-bg: #000;  // dark background
$body-color: #fff; // light text

#app {
  background-color: $body-bg;
  color: $body-color;
}

// Apply styles to the HTML page
html {
  background-color: $body-bg;
}

body {
  color: $body-color;
}
