anthropic
simplematrixbotlib
google-generativeai
multilspy
elasticsearch==8.14.0
tree-sitter==0.22.3
tree-sitter-rust==0.21.2
mypy-protobuf
pydantic
# graphrag
tiktoken
numpy
backoff
sentence-transformers
langsmith
tenacity
# mcp<1.0.0
ollama
langchain
langchain_anthropic
langgraph
langchain-groq
langchain-openrouter
openai
gitpython
PyGithub
langchain-community
langchain-postgres
watchdog
pathspec
google-search-results
python-dotenv
langchain-experimental
playwright
beautifulsoup4
llama-index
langchain-google-genai
langchain-openai
matrix-nio
matrix-nio[e2e]