anthropic
simplematrixbotlib
google-generativeai
git+https://github.com/microsoft/monitors4codegen/archive/main.zip
elasticsearch==8.14.0
tree-sitter==0.22.3
tree-sitter-rust==0.21.2
mypy-protobuf
graphrag
tiktoken
numpy
backoff
sentence-transformers
langsmith
tenacity
mcp